!! Perl extensions
! url-select (part of urxvt-perls package)
URxvt.perl-ext-common:      default,clipboard,matcher,keyboard-select
URxvt.keysym.M-u: perl:     url-select:select_next
URxvt.url-select.autocopy:  true
URxvt.url-select.button:    2
URxvt.url-select.underline: true
URxvt.url-launcher:         /usr/bin/firefox
URxvt.matcher.button:       1

!! CopyPaste Keys
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy

URxvt.scrollBar:        false
URxvt.saveLines:        15000

URxvt.font.letterSpace: -1

URxvt.font:xft:xos4 Terminess Powerline:size=9:antialias=true
URxvt.boldFont:xft:xos4 Terminess Powerline:antialias=true

!URxvt.font:xft:Inconsolata for Powerline:size=11:style=Medium
!URxvt.boldFont:xft:Misc Termsyn:size=9:antialias=true

URxvt.urgentOnBell:     true

#include "/home/stefan/.config/colors/gruvbox"
